/* Colors */
$primary-light: #fff;
$primary-dark: #000;
$secondary-orange: #fbdd89;
$secondary-pink: #f38181;
$secondary-sky: #95e1d3;
$text-grey: #b3b3b3;
$hover-orange: #fce696;
$hover-pink: #f48e8e;
$hover-red: #eb2d2d;
$hover-sky: #38c7ad;
$border-color: #e7e7e7;

/* Fonts */ 
$Montserrat: 'Montserrat', sans-serif;
$Kaushan: 'Kaushan Script', cursive;
$Roboto: 'Roboto', sans-serif;