.footer-info{
    @include flex(no-wrap);
    padding: 2.5rem;
    border-top: 1px solid $text-grey;
}

.footer-autor{
    font-weight: 500;
    font-size: 1.4rem;

    &::before{
        content: "\00A9";
        font-weight: 500;
        font-size: 1.4rem;
    }
}

.footer-link{
    color: $secondary-pink;
    text-decoration: none;
    transition: 200ms linear;

    &:hover{
        color: $hover-red;
        transition: 200ms linear;
    }
}

.footer-form{
    font-size: 0;
}

.footer-input{
    font-family: $Roboto;
    font-size: 1.5rem;
    height: 40px;
    padding: 0 1.3rem;
    border: 1px solid $border-color;
    border-right: 1px solid $secondary-sky;
    outline: none;
    transition: 200ms linear;

    &::placeholder{
        font-style: italic;
    }

    &:hover, &:focus{
        border: 1px solid $secondary-sky;
        transition: 200ms linear;
    }
}

.footer-button{
    font-size: 1.4rem;
    font-weight: 700;
    background: $secondary-sky;
    color: $primary-light;
    height: 4.1rem;
    border: none;
    padding: 0 3rem;
    transition: 200ms linear;

    &:hover{
        background: $hover-sky;
        transition: 200ms linear;
        cursor: pointer;
    }
}

